[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
numpy = "*"
sklearn = "*"
joblib = "*"
flask-login = "*"
flask-assets = "*"
wtforms = "*"

[requires]
python_version = "3.8"
